@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}
body {
  font-size: 18px;
  font-family: "poppins", "san-serif";
  /* max-width: 58em; */
  margin-inline: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin: 1.2rem; */
  margin-bottom: 3rem;
  position: relative;
  z-index: -1;
  /* background-color: cyan; */
}
.nav-logo{
  display: flex;
  align-items: center;
  height: auto;
  width: 250px;
}
.hamburger {
  display: none;
}
.left {
  display: flex;
}
.right {
  margin-left: 0.5rem;
}
.right ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.right ul a {
  text-decoration: none;
  padding: 0.2rem 1rem;
  color: var(--grayish-violet);
  cursor: pointer;
}
.right ul .active {
  background: cyan;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
  color: #fff;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 30rem;
}
.content h2 {
  font-size: 2rem;
  margin: 0.5rem;
}
.content p {
  color: var(--very-dark-blue);
  margin: 0.5rem;
}
.image img {
  width: 85%;
}

input {
  padding: 0.6rem 0.3rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  margin: 0.5rem;
  flex: 1;
}
.input-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-violet);
  padding: 1rem 1.5rem;
  position: relative;
  width: min(100%, 40rem);
  border-radius: 0.3rem;
  overflow: hidden;
}
.input-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  background: var(--cyan);
  cursor: pointer;
  outline: none;
  border: none;
}
.input-btn:hover {
  background-color:green;
}
.boost {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: var(--dark-violet);
  padding: 1rem;
  position: relative;
  gap: 2rem;
  color: #fff;
}
.result .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-inline: auto;
}
.newUrl-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  background: var(--cyan);
  cursor: pointer;
  outline: none;
  border: none;
} 
.newUrl-btn:hover {
  background-color:green;
}

/* Mobile View */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    width: 100%;
    left: 100%;
    top: 70px;
    flex-direction: column;
    text-align: center;
    background: var(--dark-violet);
    transition: 0.3s ease;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1rem 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: top 0.3s ease;
    scroll-behavior: smooth;
    background-color: cyan;
  }
  .nav-logo{
    display: flex;
    height: auto;
    width: 180px;
    /* position: absolute; */
    scroll-behavior: smooth;
    transition: top 0.3s ease;
  }
  .content {
    margin-top: 3.5rem;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image img {
    width: 100%;
  }
  .content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark-violet);
    width: 90%;
  }
  input {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    width: 90%;
  }
  .input-btn {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    width: 90%;
  }
}
